@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/* Fuentes principales */
body {
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility !important;
    background: #f3f3f5;
    scroll-behavior: smooth;
}

/* Estilo general para imágenes */
img {
    max-width: 100%;
}

/* Navbar */
.navbar {
    background-color: #f8f9fa; /* Fondo claro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
}

.nav-link,
.navbar-brand {
    font-size: 18px; /* Tamaño de fuente */
    font-weight: 700; /* Grosor de la fuente */
    text-transform: uppercase; /* Mayúsculas */
    letter-spacing: 1.5px; /* Espaciado entre letras */
    transition: all 0.3s ease; /* Transición para efectos */
}

i{
    color: #ff8243 !important
}

/* Animación navideña */
@keyframes christmas-blink {
    0% {
        color: red;
        text-shadow: 0 0 10px red;
    }
    50% {
        color: green;
        text-shadow: 0 0 10px green;
    }
    100% {
        color: red;
        text-shadow: 0 0 10px red;
    }
}

/* Aplicar animación navideña */
.nav-link:hover,
.navbar-brand:hover {
    animation: christmas-blink 1s infinite;
    transition: all 0.3s ease;
}

/* Barra de búsqueda */
form .form-control {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0.5rem;
}

form .btn-outline-success {
    border-radius: 20px;
}

/* Íconos del navbar */
.navbar .uil {
    font-size: 1.5rem;
    color: #555;
    transition: color 0.3s ease-in-out;
}

.navbar .uil:hover {
    color: #007bff; /* Cambia a azul al hacer hover */
}

/* Sección principal (main banner) */
.main-banner {
    padding: 200px 0 300px;
    min-height: 100vh;
    position: relative;
    background-color: rgb(214, 238, 214);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-img {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

span{
    color: #ff8243;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 90px !important
}


/* Realiza la imagen deformada */
.banner-img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    animation: biani 4.5s linear infinite alternate;
    box-shadow: 0 0px 20px rgba(36, 39, 37, 0.3);
  }
@keyframes biani {
    0% {
        border-radius: 48% 52% 57% 43% / 34% 44% 56% 66%;
    }
    25% {
        border-radius: 62% 38% 64% 36% / 34% 55% 45% 66%;
    }
    50% {
        border-radius: 43% 57% 51% 49% / 33% 42% 58% 67%;
    }
    100% {
        border-radius: 40% 60% 43% 57% / 52% 32% 68% 48%;
    }
}

/* Tamaño base para todos los dispositivos */
.navbar .nav-link,
.navbar-brand {
    font-size: 0.75rem; /* 16px por defecto */
}



/******************************************/
                 /* Inicia Brand */
.brands-sec {
                    padding: 200px 0 300px;
                    position: relative;
                    background-color:rgb(240, 239, 225);
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
 .h5-title{
    font-size: 2.5rem;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
 }    
 .brands-row{
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
 } 

 .brands-box {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 15px;
}
.brands-box:hover {
    filter: brightness(0.3);
    opacity: 0.9;
}

.brand-title .h5-title {
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.7;
    text-transform: uppercase;
}
                 /* Termina Brand */


/* Boton Navideño */

#santaButton {
    background: linear-gradient(45deg, #ff0000, #ff6347); /* Rojo brillante */
    border: none;
    color: white;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#santaButton:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.5);
}

/* Termina Boton Navideño */

/* Inicia About-sec */

.section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.sec-sub-title {
    background: #f3f3f5;
    border-radius: 60px;
    box-shadow: 9px 9px 12px #e4e4e4, -9px -9px 12px #ffffff;
    color: #ff8243;
    display: inline-block;
    font-size: 14px;
    padding: 3px 20px;
    text-transform: uppercase;
}

.sec-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.h2-title {
    font-size: 46px;
    line-height: 56px;
    margin-bottom: 15px;
    position: relative;
    font-weight: 700;
    text-transform: capitalize;
}

.h2-title span, .h3-title span, .h4-title span, .h5-title span, .sub-title span {
    display: block;
}

.about-video-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 55vh;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    box-shadow: 0 0 20px rgb(36 39 37 /30%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-btn{
    width: 90px;
    height: 90px;
    background: #f3f3f5;
    box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    padding-left: 4px;
    padding-top: 4px;
    font-size: 40px;
}

.play-btn:hover{
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
}

.play-btn-wp{
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn-wp span{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #bfbfbf;
}
/* Termina About-sec */

















































/* Ajustes para pantallas más pequeñas */
@media (max-width: 991px) {
    .nav-link,
    .navbar-brand {
        font-size: 16px; /* Reduce el tamaño en dispositivos más pequeños */
        font-weight: 600;
    }

}
/* Tamaño para pantallas XL (1200px a 1399px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .navbar .nav-link,
    .navbar-brand {
        font-size: 1.25rem; /* Mantiene el tamaño en XL */
    }
}

/* Tamaño para pantallas XXL (1400px y mayores) */
@media (min-width: 1400px) {
    .navbar .nav-link,
    .navbar-brand {
        font-size: 1.5rem; /* Aumenta a 1.25rem en XXL (20px) */
    }
}